/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/dataSources/5658210e-76b5-4f0a-ab3b-3cc6774860c9/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/5658210e-76b5-4f0a-ab3b-3cc6774860c9/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
